<div class='container'>
  <div class='row my-4'>
    <h1 class="m-auto fs">About</h1>
  </div>
  <div class='row '>
    <p class="mx-auto font-weight text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。</p>
  </div>
  <div class="row mb-5">
    <%= image_tag "no_image.jpg", class: "m-auto img-fluid border border-dark", style: "width: 400px; height: 150px;" %>
  </div>
</div>
