<h1>注文履歴詳細画面p.17</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>注文履歴詳細</h4>
    </div>

    <div class="col-lg-7">
      <h6>注文情報</h6>
      <table class="table table-striped">
        <tr>
          <td>注文日</td>
          <td></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td></td>
        </tr>
      </table>
    </div>

      <div class="col-lg-4">
        <h6>請求情報</h6>
        <table class="table table-striped">
          <tr>
            <td>商品合計</td>
            <td></td>
          </tr>
          <tr>
            <td>配送料</td>
            <td></td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="col-lg-8">
        <h6>注文内容</h6>
        <table class="table table-spriped">
          <thead>
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
